.ipynb_checkpoints/
.DS_Store
./telstradisr/__pycache__/
./telstradisr/*.png
./telstradisr/par_eval_3_esti10_100.matrix
./telstradisr/par_eval_depthnone_esti10.matrix
./telstradisr/.ipynb_checkpoints/
./telstradisr/nohup.out
./telstradisr/par_eval_3_esti10_100.matrix
./telstradisr/.DS_Store
./bnp_paribas_cardif/__pycache__/
./bnp_paribas_cardif/*.png
./bnp_paribas_cardif/par_eval_3_esti10_100.matrix
./bnp_paribas_cardif/par_eval_depthnone_esti10.matrix
./bnp_paribas_cardif/.ipynb_checkpoints/
./bnp_paribas_cardif/nohup.out
./bnp_paribas_cardif/.DS_Store
